<!DOCTYPE html>

<html>

    <div>
        <center>
            <h1><b>Python Quizzes</b></h1>
        </center>
    </div>


    <div>
        <center>
            <h2><i>Practice is key.</i></h2>  
        </center>
    </div>

    <div>
        <center>
            <p><b><a href ="templates/quiz/quiz1">Quiz 1 - Basics</a></b></p>
            <p><b><a href ="templates/quiz/quiz2">Quiz 2 - Control Flow</a></b></p>
            <p><b><a href ="templates/quiz/quiz3">Quiz 3 - Loops</a></b></p>
            <p><b><a href ="templates/quiz/quiz4">Quiz 4 - Functions</a></b></p>
            <p><b><a href ="templates/quiz/quiz5">Quiz 5 - Data Structures</a></b></p>
            <p><b><a href ="templates/quiz/quiz6">Quiz 6 - String Manipulation</a></b></p>
            <p><b><a href ="templates/quiz/quiz7">Quiz 7 - File Handling</a></b></p>
            <p><b><a href ="templates/quiz/quiz8">Quiz 8 - Error Handling</a></b></p>
            <p><b><a href ="templates/quiz/quiz9">Quiz 9 - Object Oriented Programming</a></b></p>
        </center>
    </div>
</html>